
@model FlightBooking.Models.FBVM

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login</title>
    <link rel="stylesheet" href="~/css/login.css">
</head>
<body>
    <div class="login-container">
        <h1>Login</h1>
        <form class="login-form" asp-controller="Login" asp-action="Login">
            <label for="uid">User ID:</label>
            <input type="text" id="uid" asp-for="FbookingUserPsObj.UserId" required>

            <label for="username">Username:</label>
            <input type="text" id="username"  asp-for="FbookingUserPsObj.Username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" asp-for="FbookingUserPsObj.Password" required>

            <button type="submit">Log In</button>
        </form>
        <p>Don't have an account? <a asp-controller="SignUp" asp-action="Index" class="btn">Sign Up</a></p>
    </div>
    <script src="~/js/login.js"></script>
</body>
</html>
